{% extends "boilerplate.html" %}

{% block content %}
  <div class="">
    <div class="row">
      <div class="col">
       <div style="width"id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='img/carousel/car_1.png') }}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h4>Welcome to</h4>
                <h1>The Greatest Bar in all of Duskval!</h1>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel/car_2.png') }}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1>The best you can ever experience!</h1>
                <p>People love our place so much, we almost don't have enough room <small>...in our basement</small>!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel/car_3.png') }}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
    <div class="row mt-5 mb-5">
      <div class="col-3">
        <div class="container-fluid mt-4">
          <div class="row container-fluid d-flex">
            <img class="mx-auto" src="{{ url_for('static', filename='img/logo.png') }}" alt="Celeste_IRL" style="border-radius: 50%; width: 140px">
          </div>
          <div class="row d-flex">
            <div class="text-center mx-auto">
              <h3 class="text-light">Our Guarantee</h3>
              <h5 class="text-light">"Might fuck up, but gets 'shit' done"</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="container-fluid col mb-5">
            <div class="container-fluid row">
              <div class="col">
                <h2 class="text-center text-white">Founders</h2>
                <hr>
              </div>
            </div>
            <div class="container-fluid row d-flex justify-content-around">
              <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='img/celesteirl.png') }}" alt="Celeste_IRL" style="border-radius: 50%; width: 86px">
                <div class="media-body">
                  <h5 class="mt-4 text-white">Cullel Manamune</h5>
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='img/Meirl.png') }}" alt="Generic placeholder image" style="border-radius: 50%; width: 64px">
                <div class="media-body">
                  <h5 class="mt-4 text-white">Laudius Lia'thyra</h5>
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='img/ryanirl.png') }}" alt="Generic placeholder image" style="border-radius: 50%; width: 64px">
                <div class="media-body">
                  <h5 class="mt-4 text-white">Ernest Shepard</h5>
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='img/luisirl.png') }}" alt="Generic placeholder image" style="border-radius: 50%; width: 64px">
                <div class="media-body">
                  <h5 class="mt-4 text-white">Emen Payne</h5>
                </div>
              </div>
              <div class="media">
                <img class="mr-3" src="{{ url_for('static', filename='img/zacirl.png') }}" alt="Celeste_IRL" style="border-radius: 50%; width: 86px">
                <div class="media-body">
                  <h5 class="mt-4 text-white">Zach</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="text-center text-white">Meet our staff!</h3>
            <hr>
          </div>
          <div class="container-fluid row d-flex justify-content-around">
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 text-white">Uncle Rodger</h5>
                  <p class="text-white">Don't ask where the beer comes from.</p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 text-white">Weeliam</h5>
                  <p class="text-white">I'm not a child! I'm an adult!</p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 text-white">Rogan</h5>
                  <p class="text-white">...</p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 text-white">Jeff</h5>
                  <p class="text-white">My name Jeff.</p>
                </div>
              </div>
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 text-white">Jovin</h5>
                  <p class="text-white">I show up once a month for work.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row bg-white">
      <div class="col-6 ml-5">
        <div class="row">
          <div class="pt-3 col-4 container-fluid">
              <h1 class="text-center"><b>Crew News!</b></h1>
              {% if session["username"] %}
              <a href="{{ url_for('App.new_post') }}" class="ml-auto mr-3">
                <h5 class="pt-3 text-center">Create New Post!</h5>
              </a>
              {% endif %}
          </div>
          <div class="col">
          {% for post in posts %}
            <div class="row container mt-3 mb-3">
              <div class="col container">
              <h3 class="text-left">
                {{ post.title }}
              </h3>
                {{ post.body|safe }}
              <p>
                Written by:
                {{ post.author.username }}
              </p>
              <hr>
              </div>

            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="pt-4 pb-4 col container">
              <h1 class="text-center">Menu</h1>
          </div>
        </div>
        <div class="row container-fluid">
          <div class="col d-flex flex-column">
            <div class="media mx-auto my-4">
              <img class="mr-3" src="{{ url_for('static', filename='img/uncles_best.jpg') }}" alt="Generic placeholder image" style="border-radius: 6%; width: 64px">
              <div class="media-body">
                <h5 class="mt-0">Essence of Roger</h5>
                <p>A drink made by our very own talanted Uncle Rodger!</p>
              </div>
            </div>
            <div class="media mx-auto my-4">
              <div class="media-body">
                <h5 class="mt-0 mr-4 text-right">Whisper Girl Bath Water</h5>
                A special drink created by (<small> and from</small>) Cullel herself!
              </div>
              <img class="mr-3" src="{{ url_for('static', filename='img/ggbw.jpg') }}" alt="Generic placeholder image" style="border-radius: 6%; width: 64px; height:64px">
            </div>
            <div class="media mx-auto my-4">
              <img class="mr-3" src="{{ url_for('static', filename='img/pineapple.jpg') }}" alt="Generic placeholder image" style="border-radius: 6%; width: 64px; height:64px">
              <div class="media-body">
                <h5 class="mt-0 mr-4">Ernest's Favorite</h5>
                <p>
                 Its strong that it's sure to knock you off your
                 feet, you'll start hearing bells!
                 </p>
              </div>

            </div>
            <div class="media mx-auto my-4">
              <div class="media-body">
                <h5 class="mt-0 mr-4 text-right">Rogans Blunts</h5>

              </div>
              <img class="mr-3" src="{{ url_for('static', filename='img/seth.jpg') }}" alt="Generic placeholder image" style="border-radius: 6%; width: 64px; height:64px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}