{% macro render_field(field) %}
  <dt class="text-white">{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% extends "boilerplate.html" %}

{% block content %}


<div class="container">

	<div class="row container d-flex mx-auto">
	  <div class="col">
	  	<h3 class="text-white">Hey you!</h3>
	  	<p class="text-white">
	  		This page is for Degen members only!
	  		So you better make sure you're a Degen
	  		before pressing the login button!
	  	</p>
	  </div>
	  <div class="col">
	    <legend class="text-white">Sign in</legend>
	    {% with errors = get_flashed_messages(category_filter=["error"]) %}
	    {% if errors %}
	    <div>
	    {% for error in errors %}
	    {{ error }}<br>
	    {% endfor %}
	    </div>
	    {% endif %}
	    {% endwith %}

	    {% if form.errors %}
	    <div>
	    {% for field, error in form.errors.items() %}
	    {% for e in error %}
	    {{ e }}<br>
	    {% endfor %}
	    {% endfor %}
	    </div>
	    {% endif %}
	    <form method="POST" action="{{ url_for('App.sign_in') }}" accept-charset="UTF-8" role="form">
	      {{ form.csrf_token }}
	      {{ render_field(form.username, placeholder="Your Username",
	                                  autofocus="") }}
	      {{ render_field(form.password, placeholder="Password") }}
	      <div>
	      <label class="text-white">
	      </div>
	      <button type="submit" name="submit">Sign in</button>
	    </form>
	  </div>
  </div>
</div>

{% endblock %}