{% extends "boilerplate.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<H3 class="text-white">Create new post</H3>
			<form action="" method=post>
			   {{ form.csrf_token }}
			   <dl>
			      <dt class="text-white">Title:
			      <dd>{{ form.title }}
			      <dt class="text-white">Body:
			      <dd>{{ form.body(cols="60", rows="20") }}}
			   </dl>
			   <p>
			      <button type=submit value="Publish" class="btn btn-success"> Publish</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}