<!DOCTYPE html>
<html>
  <head>
    <title>Deranged Pidgeon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body class="bg-dark" >
    <div class="container-fluid">
      <div class="row bg-white">
        <div class="col-sm p-4 d-flex">
          <a href="{{ url_for('App.index') }}" class="text-dark mr-4" style="text-decoration: none;">
            <h4>Welcome</h4>
          </a>
          <a href="" class="text-dark mr-4" style="text-decoration: none;">
            <h4> Menu </h4>
          </a>
        </div>
        <div class="col-sm p-2 pt-4">
          <a href="{{ url_for('App.index') }}" class = "text-dark" style="text-emphasis: none;">
            <h2 class="text-center"><b>The Deranged Pidgeon</b></h2>
          </a>
        </div>
        <div class="col-sm p-4 d-flex">
          <a href="" class="text-dark ml-auto mr-4" style="text-decoration: none;">
            <h4>About Us</h4>
          </a>
          <a href="" class="text-dark mr-4" style="text-decoration: none;">
            <h4>Contact</h4>
          </a>
          {% if session["username"] %}
            <a href="{{ url_for('App.sign_out') }}" class="text-dark mr-4" style="text-decoration: none;">
              <h4 class="text-danger">Sign out</h4>
            </a>
          {% else %}
          <a href="{{ url_for('App.sign_in') }}" class="text-dark mr-4" style="text-decoration: none;">
            <h4>Login</h4>
          </a>
          {% endif%}
        </div>
      </div>
      <div class="row">
    <div class="col container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes alert alert-warning">
            {% for message in messages %}
                <li class="text-center">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
    </div>
  </div>
    </div>

    {% block content %}{% endblock %}


    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
